{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal - RHC System - Habbo Hotel ©</title>
    <link rel="icon" type="img/x-icon" href="{% static 'rhc.gif' %}">
    <link href="{% static 'mode/style.css' %}" rel="stylesheet">
    <link href="/static/django_ckeditor_5/dist/styles.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
    .bg-br {
        background-color: #181818;
    }
    .bg-cinza {
      background-color: #e8e8e8;
    }
    .timeline-with-icons {
      border-left: 1px solid hsl(0, 0%, 90%);
      position: relative;
      list-style: none;
    }
    
    .timeline-with-icons .timeline-item {
      position: relative;
    }
    
    .timeline-with-icons .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
    }
    
    .timeline-with-icons .timeline-icon {
      position: absolute;
      left: -48px;
      background-color: #181818;
      color: hsl(217, 88.8%, 35.1%);
      border-radius: 50%;
      height: 31px;
      width: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    </style>
    <body style="background-color: #111111;">
        <div class="sidebar close">
          <div class="logo-details">
            <div class="image-perfil">
            <div class="rounded-circle border border-3 border-light m-auto" style="background: url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=png&user={{request.user.username}}&direction=2&head_direction=2&size=sm&action=std) center 35% no-repeat, url({% static 'bgfloresta.png'%}) center center no-repeat; width: 90px; height: 90px;">	
            </div>
            <strong><p class="text-center text-light">{{request.user.username}}</p></strong>
            <p class="text-center text-light" style="position: relative; top: -20px;">{{request.user.patente}}</p>
          </div>
        </div>
          <ul class="nav-links">
            <li>
              <a href="{% url "PainelPrincipal" %}">
                <i class='bx'>
                  <img class="px" width="35px" src="{% static "home.gif" %}" alt="">
                </i>
                <span class="link_name">Principal</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Principal</a></li>
              </ul>
            </li>
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="35px" src="{% static "relatorio.png" %}" alt="">
                  </i>
                  <span class="link_name">Licenças</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Licenças</a></li>
                <li><a href="{% url 'MeusAvais'%}">Minhas Licenças</a></li>
                <li><a href="{% url "RegistrarAval" %}">Registrar Licença +</a></li>
                {% if STAFF or LDRH or Analista %}
                <li><a href="{% url "GeralAvais" %}">Todas as Licenças</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="40px" src="{% static "bolsa2.gif" %}" alt="">
                  </i>
                  <span class="link_name">Documentos</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Documentos</a></li>
                <li><a href="{% url "Documentos" %}">Documentos</a></li>
                {% if STAFF %}
                <li><a href="{% url "RegistrarDocumento" %}">Add Documento</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="37px" src="{% static "loja.png" %}" alt="">
                  </i>
                  <span class="link_name">Loja</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#"></a></li>
                <li><a href="{% url "Loja" %}">Emblemas</a></li>
              </ul>
            </li>
            {% if GuiaDpE or MinistroDpE or STAFF %}
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="40px" src="{% static "dpe.gif" %}" alt="">
                  </i>
                  <span class="link_name">DpE</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Treinamentos</a></li>
                <li><a href="{% url "RelatoriosTreinamentos" %}">Meus Relatórios</a></li>
                <li><a href="{% url "RelatoriosGeral" %}">Relatórios Geral</a></li>
                <li><a href="{% url "Treinamentos" %}">Treinamentos</a></li>
                {% if GuiasDpE or MinistroDpE or STAFF or LDPE %}
                <li><a href="{% url "RegistrarTreinamentos" %}">Add Treinamento+</a></li>
                {% endif %}
                {% if MinistroDpE or STAFF or LDPE %}
                <li><a href="{% url "GuiasDpE" %}">Guias</a></li>
                {% endif %} 
                  {% if STAFF or LDPE %}
                <li><a href="{% url "MinistrosDpE" %}">Ministros</a></li>
                {% endif %} 
              </ul>
            </li>
            {% endif %}
            {% if STAFF or Analista or LDRH %}
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="40px" src="{% static "drh.gif" %}" alt="">
                  </i>
                  <span class="link_name">DrH</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">DrH</a></li>
                {% if STAFF or LDRH or Analista %}
                <li><a href="{% url "Requerimentos" %}">Requerimentos</a></li>
                <li><a href="{% url "RegistrarRequerimento" %}">Add Requerimento</a></li>
                <li><a href="{% url "RegistrarRequerimentoContrato" %}">Contratar</a></li>
                <li><a href="{% url "PoliciaisLista" %}">Senhas</a></li>
                {% endif %}
                {% if STAFF or LDRH %}
                <li><a href="{% url "Analista" %}">Analistas</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="40px" src="{% static "jn.gif" %}" alt="">
                  </i>
                  <span class="link_name">Jornal</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Jornal</a></li>
                <li><a href="{% url "Jornal" %}">Postagens</a></li>
                {% if Jornalista or STAFF or EDC %}
                <li><a href="{% url "PublicarMateria" %}">Publicar Matéria +</a></li>
                {% endif %}
                {% if STAFF or EDC %}
                <li><a href="{% url "Jornalistas" %}">Jornalistas</a></li>
                {% endif %}
              </ul>
            </li>
            {% if STAFF %}
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="50px" src="{% static "staff.gif" %}" alt="">
                  </i>
                  <span class="link_name">Admin</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Admin</a></li>
                <li><a href="{% url "LDPE" %}">Líder DpE</a></li>
                <li><a href="{% url "LDRH" %}">Líder DrH</a></li>
                <li><a href="{% url "EDC" %}">Editor-Chefe</a></li>
                <li><a href="{% url "STAFF" %}">Membros</a></li>
                <li><a href="{% url "PoliciaisListaStaff" %}">Senhas</a></li>
                <li><a href="{% url "CriarDestaque" %}">Destaque</a></li>
                <br>
                <li class='text-light'>Logs</li>
                <li><a href="{% url "LOGDOCUMENTOS" %}">Documentos</a></li>
                <li><a href="{% url "LOGPOSTAGENS" %}">Posts</a></li>
                <li><a href="{% url "LOGREQUERIMENTOS" %}">Requerimentos</a></li>
                <li><a href="{% url "LOGTREINAMENTOS" %}">Treinamentos</a></li>
                <li><a href="{% url "LOGSTAFF" %}">Staff</a></li>
                <li><a href="{% url "LOGTIMELINE" %}">Time Line</a></li>
                <li><a href="{% url "LOGJA" %}">Licenças</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="mt-2">
              <div class="iocn-link">
                <a href="#">
                  <i class='bx'>
                    <img class="px" width="35px" src="{% static "config.png" %}" alt="">
                  </i>
                  <span class="link_name">Configuração</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Configuração</a></li>
                <li><a href="{% url "AlterarSenha" %}">Alterar Senha</a></li>
                <li><a href="{% url "PerfilPolicial" request.user.slug %}">Perfil</a></li>
              </ul>
            </li>
              <li class="mt-2">
                <a href="{% url "Logout" %}">
                  <i class='bx'>
                    <img class="px" width="40px" src="{% static "logout.png" %}" alt="">
                  </i>
                  <span class="link_name">Sair</span>
                </a>
                <ul class="sub-menu blank">
                  <li><a class="link_name" href="{% url "Logout" %}">Sair</a></li>
                </ul>
              </li>
      </ul>
        </div>
        
        <section class="home-section">
          <nav class="navbar bg-nav">
            <div class="container-fluid">
                <div class="home-content">
                  <i class='bx bx-menu text-light' ></i>
                </div>
                <div class="d-flex">
                  <div class="container mt-2 me-2">
                    <h4><span class="badge" style="background-color: gold; position: relative; left: 20px;">{{request.user.moedas}}  <img src="{% static 'coin.png' %}" alt="">
                    </span></h4>
                </div>
            </div>
          </div>
          </nav>
          {% block main %}
          {% endblock main %}
        </section>
        <script src="/static/django_ckeditor_5/dist/bundle.js"></script>
        <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;
         arrowParent.classList.toggle("showMenu");
          });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
        </script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script>
              const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
              const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            </script>
      </body>
</html>
