{% extends "Index.html" %}
{% load static %}

{% block main %}
<div class="container">
<div class="row m-auto">
<div class="col-md-7 col-11">
<div class="container d-flex">
<div>
    <img class="px" src="{% static 'jornal.png'%}" alt="">
    </div>
  <div class="ms-2 text-light">
  <h3>Postagens</h3>
  <p>Confira as novidades da RHC!</p>
  </div>
</div>
<ul>
  {% for message in messages %}
  <div class="alert alert-secondary text-center">{{ message }}</div>
  {% endfor %}
</ul>
{% if postagens%}
{% for postagem in postagens %}
<div class="card col-11 mb-3 shadow m-auto" style="background-color: #181818;">
  <img src="{{ postagem.imagem.url }}" class="card-img-top" alt="...">
  <div class="card-body text-light">
    <h5 class="card-title">{{postagem.titulo}}</h5>
    <p class="card-text">{{postagem.descricao}}</p>
    <p class="card-text"><small> Postado em {{postagem.datatime}} por {{postagem.solicitante.patente}} {{postagem.solicitante.username}}</small></p> <a  href="{% url "PostagensJornal" postagem.slug %}" style="background:silver;" class="btn">Ler mais...</a>
    <a href="{% url 'EditarMateria' postagem.slug %}" style="background:gray;" class="btn text-light">Editar</a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-secondary text-center m-auto col-10" role="alert">
  Sem postagens recentes!
</div>
{% endif %}
</div>
</div>
{% endblock main %}