{% extends "Index.html" %}
{% load static %}

{% block main %}
<div class="container">
<div class="row m-auto">
<div class="col-md-7 col-11">
<div class="container d-flex">
<div>
    <img class="px" src="{% static 'jornal.png'%}" alt="">
    </div>
  <div class="ms-2 text-light">
  <h3>Postagens</h3>
  <p>Confira as novidades da RHC!</p>
  </div>
</div>
<ul>
  {% for message in messages %}
  <div class="alert alert-secondary text-center">{{ message }}</div>
  {% endfor %}
</ul>
{% if postagens%}
{% for postagem in postagens %}
<div class="card col-11 mb-3 shadow m-auto" style="background-color: #181818;">
  <img src="{{ postagem.imagem.url }}" class="card-img-top" alt="...">
  <div class="card-body text-light">
    <h5 class="card-title">{{postagem.titulo}}</h5>
    <p class="card-text">{{postagem.descricao}}</p>
    <p class="card-text"><small> Postado em {{postagem.datatime}} por {{postagem.solicitante.patente}} {{postagem.solicitante.username}}</small></p> <a  href="{% url "PostagensJornal" postagem.slug %}" style="background:silver;" class="btn">Ler mais...</a>
    <a href="{% url 'EditarMateria' postagem.slug %}" style="background:gray;" class="btn text-light">Editar</a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-secondary text-center m-auto col-10" role="alert">
  Sem postagens recentes!
</div>
{% endif %}
</div>
<div class="col-md-5 col-11">
  <div class="container d-flex text-light mt-4 mb-3"> 
    <div>
      <img class="px" width="26px" height="41px" src="{% static 'emblema.png'%}" alt="">
      </div>
    <div class="ms-2">
    <h3>Emblemas novos!</h3>
    <p>Confira o último emblema adicionado!</p>
    </div>
</div>

<div class="card col-12 col-md-8 mb-3 m-auto" style="background-color: #181818;">
<img src="{{ emblema.icone.url }}" class="m-auto mt-2 px" width="80px" alt="...">
<div class="card-body">
  <h5 class="card-title text-center text-light">{{ emblema.titulo }}</h5>
  <div class="text-center">
    <div class=" d-flex justify-content-center">
    <div class="text-center text-light">
        <h5>{{ emblema.moedas }}</h5>
    </div>
    <div>
        <img src="{% static 'coinloja.png'%}" alt="">
    </div>
</div>
</div>
</div>
</div>
<div class="container d-flex mt-4">
  <div>
      <img src="{% static 'busca.png'%}" alt="">
  </div>
<div class="ms-2 text-light">
<h3>Novos membros</h3>
<p>Sejam bem-vindos a Polícia RHC!</p>
</div>
      </div>
<div class="card bg-br col-10 m-auto">
<div class="mb-3 m-auto">
  {% if alistados %}
  {% for alistado in alistados %}
  <a><img data-bs-toggle="tooltip" data-bs-placement="bottom"
    data-bs-custom-class="custom-tooltip" data-bs-title="{{alistado.patente}}, {{alistado.username}}" src='https://www.habbo.com.br/habbo-imaging/avatarimage?user={{alistado.username}}'/></a>
  {% endfor %}
  {% else %}
  <div class="alert alert-secondary m-auto mt-3" role="alert">
    Sem alistamentos recentes!
  </div>
      {% endif %}
</div>
</div>
</div>
</div>
{% endblock main %}